* {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/* src/index.css */

body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}